<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">For Mai Fun</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/feed/">Feed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/travel/">Travel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/food_drinks/">Food and Drinks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://instagram.com/maimazoku" target="_blank">
                    <span style="font-size: 20px;"><i class="fab fa-instagram"></i></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.youtube.com/channel/UCDpQkisAtlNP4MTOm48ylGQ" target="_blank">
                    <span style="font-size: 20px;"><i class="fab fa-youtube"></i></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.twitch.tv/mamai101" target="_blank">
                    <span style="font-size: 20px;"><i class="fab fa-twitch"></i></span>
                </a>
            </li>
        </ul>
    </div>
</nav>