<div class="col-md-4">
    <a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
    <div class="card mb-4">
        <img class="card-img-top" src="https://static1.squarespace.com/static/56d4a125e707eb7a02e4055f/t/56d4adcfd51cd46806b9d7e2/1456778711357/65.jpg?format=500w" alt="Card image cap">
        <div class="card-body">
            <div class="card-text">{{ post.title }}</div>
            <div class="d-flex justify-content-between align-items-center">
                <p class="card-desctiprion">{{ post.content | strip_html | truncatewords: 15, "..." }}</p>
            </div>
        </div>
    </div>
    </a>
</div>
