<footer class="footer mt-auto">
  <div class="align-self-center">
    <div class="justify-content-end" id="footer">
      <%= raw get_nav_menu('footer', 'navbar navbar-nav navbar-light sticky-bottom') %>
    </div>
  </div>
</footer>